@charset "UTF-8";
.container {
  width: 1140px;
  margin: 0 auto;
  height: 100%;
}

body {
  background-color: #1f2f4f;
  padding: 0;
  margin: 0;
  /*  О компании*/
  /*  Контакты  */
  /* Услуги */
}

body .menu {
  background-image: url(../img/divider.png);
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 30px;
  height: 40px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  position: relative;
}

body .menu .menu-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

body .menu .menu-block .menu-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
}

body .menu .menu-block .menu-line .menu-link a {
  text-transform: uppercase;
  color: #1f2f4f;
  font-family: 'Europe Ext Bold', arial;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  position: relative;
}

body .menu .menu-block .menu-line .menu-link a:before {
  content: '';
  width: 0%;
  height: 2px;
  background: #1f2f4f;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  position: absolute;
  bottom: -5px;
  left: 0;
}

body .menu .menu-block .menu-line .menu-link a:hover:before {
  width: 100%;
}

body .menu .menu-block .menu-mobil {
  display: none;
}

body .menu .menu-block .button-conect-menu {
  text-transform: uppercase;
  color: #1f2f4f;
  font-family: 'Europe Ext Bold', arial;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  padding: 7px;
  border-radius: 10px;
  border: 4px solid #1f2f4f;
  display: none;
}

body .menu .menu-block .button-conect-menu:hover {
  background: white;
}

body .menu-fixed {
  position: fixed;
  top: -30px;
  left: 0;
  height: 50px;
  width: 100%;
  z-index: 2;
}

body .menu-fixed .menu-block .button-conect-menu {
  display: block;
}

body .contacts-head {
  padding: 20px 0;
}

body .contacts-head .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .contacts-head .container .contacts-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

body .contacts-head .container .contacts-left .first-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 15px;
}

body .contacts-head .container .contacts-left .first-line img {
  width: 24px;
  height: 24px;
  margin-right: 20px;
}

body .contacts-head .container .contacts-left .first-line .contact-link a {
  color: white;
  font-family: 'Europe Ext Bold', arial;
  font-size: 18px;
  font-weight: bold;
  margin-right: 20px;
  text-decoration: none;
  cursor: pointer;
}

body .contacts-head .container .contacts-left .first-line .contact-text {
  font-size: 14px;
  color: #fbc750;
  font-family: "Verdana", sans-serif;
  padding: 0;
  margin: 0;
  padding-bottom: 2px;
  cursor: default;
}

body .contacts-head .container .contacts-left .second-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .contacts-head .container .contacts-left .second-line img {
  width: 24px;
  height: 24px;
  margin-right: 20px;
}

body .contacts-head .container .contacts-left .second-line .contact-link a {
  color: white;
  font-family: 'Europe Ext Bold', arial;
  font-size: 18px;
  font-weight: bold;
  margin-right: 20px;
  text-decoration: none;
  cursor: pointer;
}

body .contacts-head .container .contacts-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

body .contacts-head .container .contacts-right .first-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 15px;
}

body .contacts-head .container .contacts-right .first-line .contact-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .contacts-head .container .contacts-right .first-line .contact-link a {
  color: white;
  font-family: 'Europe Ext Bold', arial;
  font-size: 18px;
  font-weight: bold;
  margin-right: 10px;
  text-decoration: none;
  cursor: pointer;
}

body .contacts-head .container .contacts-right .first-line .contact-link p {
  color: white;
  font-size: 16px;
  padding: 0;
  margin: 0;
  font-weight: bold;
  margin-right: 10px;
  cursor: default;
}

body .contacts-head .container .contacts-right .second-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .contacts-head .container .contacts-right .second-line .contact-link a {
  color: white;
  font-family: 'Europe Ext Bold', arial;
  font-size: 18px;
  font-weight: bold;
  margin-right: 20px;
  text-decoration: none;
  cursor: pointer;
}

body .contacts-head .container .button-conect {
  background: transparent;
  color: #fbc750;
  border: 4px solid #fbc750;
  border-radius: 10px;
  padding: 13px 12px;
  font-family: 'Europe Ext Bold', arial;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

body .contacts-head .container .button-conect:hover {
  background: #fbc750;
  color: #1f2f4f;
}

body .present .back-present {
  position: relative;
}

body .present .back-present img {
  width: 100%;
  height: 100%;
}

body .present .back-present .logo-present {
  position: absolute;
  top: 0;
  left: 0;
  width: auto;
  height: 190px;
}

body .present .back-present .text-present {
  position: absolute;
  left: 20px;
  bottom: 40px;
  font-family: 'Europe Ext Bold', arial;
  font-size: 85px;
  font-weight: bold;
  color: white;
}

body .options {
  padding: 100px 0;
}

body .options .options-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row mowrap;
          flex-flow: row mowrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 120px;
}

body .options .options-block .options-inside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .options .options-block .options-inside .img-block {
  width: auto;
  height: 174px;
}

body .options .options-block .options-inside .img-block img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

body .options .options-block .options-inside .text-options {
  font-family: 'Europe Ext Bold', arial;
  font-size: 30px;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  margin-top: 30px;
}

body .services {
  height: 350px;
  width: 100%;
  position: relative;
  background: white;
  overflow: hidden;
}

body .services img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

body .tariffs {
  position: relative;
  overflow: hidden;
  margin-bottom: 100px;
}

body .tariffs .logo-tarriff {
  position: absolute;
  top: 20px;
  left: 00px;
}

body .tariffs .zagolovok {
  text-align: center;
  font-family: 'Europe Ext Bold', arial;
  font-size: 50px;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
  padding: 70px 0;
}

body .tariffs .tariffs-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

body .tariffs .tariffs-block .tar-block-max {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  cursor: pointer;
  opacity: 0;
  -webkit-transform: translateY(-200px);
          transform: translateY(-200px);
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

body .tariffs .tariffs-block .tar-block-max .tar-block-mini {
  width: 285px;
  height: 285px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

body .tariffs .tariffs-block .tar-block-max .image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

body .tariffs .tariffs-block .tar-block-max .text {
  background: white;
}

body .tariffs .tariffs-block .tar-block-max .text .zagolovok-text {
  text-align: center;
  font-family: 'Europe Ext Bold', arial;
  font-size: 30px;
  font-weight: bold;
  color: #1f2f4f;
  text-transform: uppercase;
  padding: 10px;
}

body .tariffs .tariffs-block .tar-block-max .text .under-zagolovok-text {
  text-align: center;
  font-family: 'Europe Ext Bold', arial;
  font-size: 18px;
  color: #1f2f4f;
  font-style: italic;
  margin-bottom: 20px;
}

body .tariffs .tariffs-block .tar-block-max .text .offers {
  text-align: center;
  font-family: 'Europe Ext Bold', arial;
  font-size: 18px;
  color: #1f2f4f;
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
}

body .tariffs .tariffs-block .tar-block-max .text .tariff-price {
  text-align: center;
  font-family: 'Europe Ext Bold', arial;
  font-size: 30px;
  font-weight: bold;
  color: #1f2f4f;
  margin-top: 20px;
}

body .tariffs .tariffs-block .tar-block-max .text .btn-tarrif {
  text-transform: uppercase;
  color: #1f2f4f;
  font-family: 'Europe Ext Bold', arial;
  font-size: 16px;
  font-weight: bold;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  padding: 7px;
  border-radius: 10px;
  border: 4px solid #1f2f4f;
  width: 115px;
  margin: 0 auto;
  margin-top: 20px;
}

body .tariffs .tariffs-block .tar-block-max:hover .btn-tarrif {
  border: 4px solid #fbc750;
}

body .tariffs .tariffs-block .tar-block-max:nth-child(even) {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-transform: translateY(200px);
          transform: translateY(200px);
}

body .tariffs .tariffs-block .show-tarrif {
  opacity: 1;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

body .tariffs .tariffs-block .show-tarrif:nth-child(even) {
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

body .tariffs .tarrif-dop-text {
  text-align: center;
  font-family: 'Europe Ext Bold', arial;
  font-size: 20px;
  font-style: italic;
  color: white;
  margin-top: 60px;
}

body .services-2 {
  height: 350px;
  width: 100%;
  position: relative;
  background: white;
  overflow: hidden;
}

body .services-2 img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

body .just-img {
  position: relative;
  height: 800px;
  background-image: url(../img/back-5.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

body .just-img .logo-present {
  position: absolute;
  top: 30px;
  left: 0;
  width: auto;
  height: 190px;
}

body .payment .zagolovok {
  text-align: center;
  font-family: 'Europe Ext Bold', arial;
  font-size: 50px;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
  padding: 70px 0;
}

body .payment .pay-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .payment .pay-row .pay-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  opacity: 0;
  margin-bottom: 100px;
}

body .payment .pay-row .pay-block .pay-img {
  width: 100px;
  height: 100px;
}

body .payment .pay-row .pay-block .pay-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

body .payment .pay-row .pay-block p {
  text-align: center;
  font-family: 'Europe Ext Bold', arial;
  font-size: 25px;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  margin-top: 30px;
}

body .payment .pay-row .pay-block:nth-child(1) {
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

body .payment .pay-row .pay-block:nth-child(2) {
  -webkit-transition: all 0.4s ease 0.2s;
  transition: all 0.4s ease 0.2s;
}

body .payment .pay-row .pay-block:nth-child(3) {
  -webkit-transition: all 0.4s ease 0.4s;
  transition: all 0.4s ease 0.4s;
}

body .payment .pay-row .pay-block-show {
  opacity: 1;
}

body .services-3 {
  height: 350px;
  width: 100%;
  position: relative;
  background: white;
  overflow: hidden;
}

body .services-3 img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

body .news {
  position: relative;
  overflow: hidden;
  margin-bottom: 70px;
}

body .news .logo-tarriff {
  position: absolute;
  top: 20px;
  left: 00px;
}

body .news .zagolovok {
  text-align: center;
  font-family: 'Europe Ext Bold', arial;
  font-size: 50px;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
  padding: 70px 0;
}

body .news .news-slider {
  margin-top: 70px;
}

body .news .news-slider .newone {
  height: 700px;
  background: white;
  border-radius: 4px;
  margin: 0 20px;
}

body .news .news-slider .newone img {
  width: 100%;
  border-radius: 4px 4px 0 0;
}

body .news .news-slider .newone .zagolovok-new {
  margin-top: 40px;
  text-align: center;
  font-family: 'Verdana', sans-serif;
  font-size: 30px;
  color: #333;
  font-weight: bold;
}

body .news .news-slider .newone .zagolovok-text {
  margin-top: 30px;
  font-family: 'Verdana', sans-serif;
  font-size: 20px;
  color: #333;
  padding: 20px;
}

body .news .news-slider .newone .button-new {
  margin: 30px auto;
  text-transform: uppercase;
  color: #1f2f4f;
  font-family: 'Europe Ext Bold', arial;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  padding: 10px;
  border-radius: 10px;
  border: 4px solid #1f2f4f;
  width: 110px;
}

body .news .news-slider .newone .button-new:hover {
  color: #fbc750;
  border: 4px solid #fbc750;
}

body .footer {
  background-image: url(../img/divider.png);
  background-size: contain;
  background-repeat: repeat;
  padding: 15px 30px;
}

body .footer .center-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

body .footer .center-contacts .first-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .footer .center-contacts .first-row .contact-link a {
  color: #1f2f4f;
  font-family: 'Europe Ext Bold', arial;
  font-size: 18px;
  font-weight: bold;
  margin-right: 20px;
  text-decoration: none;
  cursor: pointer;
}

body .footer .center-contacts .first-row .contact-text {
  font-size: 14px;
  color: #1f2f4f;
  font-family: "Verdana", sans-serif;
  padding: 0;
  margin: 0;
  padding-bottom: 2px;
  cursor: default;
}

body .footer .center-contacts .second-row {
  font-size: 12px;
  color: #1f2f4f;
  font-family: "Verdana", sans-serif;
}

body .footer .center-contacts .third-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .footer .center-contacts .third-row .contact-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

body .footer .center-contacts .third-row .contact-link a {
  color: #1f2f4f;
  font-family: 'Europe Ext Bold', arial;
  font-size: 18px;
  font-weight: bold;
  margin-right: 20px;
  text-decoration: none;
  cursor: pointer;
}

body .footer .center-contacts .third-row .button-conect {
  text-transform: uppercase;
  color: #1f2f4f;
  font-family: 'Europe Ext Bold', arial;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  padding: 7px;
  border-radius: 10px;
  border: 4px solid #1f2f4f;
}

body .footer .center-contacts .third-row .button-conect:hover {
  background: white;
}

body .footer .certifikat {
  display: none;
}

body .footer .certifikat p {
  font-size: 12px;
  color: #1f2f4f;
  font-family: "Verdana", sans-serif;
}

body .modal-news {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 3;
  opacity: 1;
  visibility: visible;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

body .modal-news .modal {
  position: absolute;
  top: 10vh;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  width: 55vw;
  height: 80vh;
  background: white;
  border-radius: 10px;
  overflow: auto;
  padding: 20px;
}

body .modal-news .modal .close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px;
  cursor: pointer;
}

body .modal-news .modal .close-btn .first-stroke {
  width: 20px;
  height: 5px;
  border-radius: 10px;
  background: #1f2f4f;
  position: absolute;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  right: 10px;
}

body .modal-news .modal .close-btn .second-stroke {
  width: 20px;
  height: 5px;
  border-radius: 10px;
  background: #1f2f4f;
  position: absolute;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  right: 10px;
}

body .modal-news .modal .zagolovok-modal {
  text-transform: uppercase;
  color: #1f2f4f;
  font-family: 'Europe Ext Bold', arial;
  font-size: 40px;
  font-weight: bold;
  margin: 50px auto;
  text-align: center;
}

body .modal-news .modal .img-modal {
  width: 80%;
  margin-left: 10%;
  height: 300px;
  border-radius: 4px;
  overflow: hidden;
  margin-bottom: 20px;
}

body .modal-news .modal .img-modal img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

body .modal-news .modal .text-modal {
  font-family: 'Verdana', sans-serif;
  font-size: 20px;
  color: #333;
  padding: 40px;
  line-height: 30px;
}

body .modal-news-hide {
  z-index: -1;
  opacity: 0;
  visibility: hidden;
}

body .modal-send {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 3;
  opacity: 1;
  visibility: visible;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

body .modal-send .modal {
  position: absolute;
  top: 10vh;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  width: auto;
  height: auto;
  background: white;
  border-radius: 10px;
  overflow: hidden;
}

body .modal-send .modal form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  height: auto;
  position: relative;
  overflow: hidden;
  margin: 40px;
  margin-top: 0;
}

body .modal-send .modal form .form-item {
  margin: 20px 0;
}

body .modal-send .modal form input {
  font-size: 20px;
  line-height: 21px;
  font-family: "Verdana", sans-serif;
  text-align: left;
  color: #1f2f4f;
  padding: 5px;
  width: 300px;
  border-radius: 0px;
  border: none;
  border-bottom: 2px solid #ACA6A6;
  padding-bottom: 15px;
}

body .modal-send .modal form .button-send-modal {
  margin: 20px auto;
  text-transform: uppercase;
  color: #1f2f4f;
  font-family: 'Europe Ext Bold', arial;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  padding: 10px;
  border-radius: 10px;
  border: 4px solid #1f2f4f;
  width: 100px;
}

body .modal-send .modal form .button-send-modal:hover {
  color: #fbc750;
  border: 4px solid #fbc750;
}

body .modal-send .modal form .accept-block {
  margin-top: 10px;
}

body .modal-send .modal form .accept-block input[type=checkbox] {
  display: none;
  width: 10px;
}

body .modal-send .modal form .accept-block input[type=checkbox]:checked + label:before {
  border-right: none;
  border-top: none;
  -webkit-transform: rotate(-50deg);
          transform: rotate(-50deg);
  top: 2px;
  left: 2px;
  height: 5px;
}

body .modal-send .modal form .accept-block input[type=checkbox] + label {
  font-family: "Verdana", sans-serif;
  font-size: 14px;
  line-height: 140%;
  color: #1f2f4f;
  padding-left: 30px;
  position: relative;
}

body .modal-send .modal form .accept-block input[type=checkbox] + label:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  height: 10px;
  border: 2px solid #ACA6A6;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  cursor: pointer;
}

body .modal-send .modal form .description-accept {
  font-family: "Verdana", sans-serif;
  font-size: 15px;
  line-height: 180%;
  margin: 15px 0;
  text-align: left;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  opacity: 1;
  visibility: visible;
  width: 100%;
  color: #ACA6A6;
  text-align: center;
}

body .modal-send .modal form .hide {
  opacity: 0;
  visibility: hidden;
}

body .modal-send .modal form .close-btn-send {
  position: absolute;
  top: 0px;
  right: -10px;
  padding: 5px;
  cursor: pointer;
}

body .modal-send .modal form .close-btn-send .first-stroke {
  width: 20px;
  height: 5px;
  border-radius: 10px;
  background: #1f2f4f;
  position: absolute;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  right: 10px;
}

body .modal-send .modal form .close-btn-send .second-stroke {
  width: 20px;
  height: 5px;
  border-radius: 10px;
  background: #1f2f4f;
  position: absolute;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  right: 10px;
}

body .modal-send .modal form .zagolovok-modal {
  text-transform: uppercase;
  color: #1f2f4f;
  font-family: 'Europe Ext Bold', arial;
  font-size: 25px;
  line-height: 35px;
  font-weight: bold;
  margin: 30px auto;
  text-align: center;
  margin-top: 60px;
  position: relative;
}

body .modal-send .modal form .zagolovok-modal span {
  position: relative;
}

body .modal-send .modal form .zagolovok-modal span:after {
  content: '';
  width: 100%;
  height: 2px;
  position: absolute;
  bottom: -10px;
  left: 0;
  background: #1f2f4f;
}

body .modal-send .modal .description {
  font-family: "Verdana", sans-serif;
  font-size: 25px;
  text-align: left;
  line-height: 180%;
  color: #ACA6A6;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  margin: 50px auto;
  text-align: center;
}

body .modal-send .modal .hide {
  opacity: 0;
  visibility: hidden;
  margin: 0;
  height: 0 !important;
  padding: 0;
}

body .modal-send-hide {
  z-index: -1;
  opacity: 0;
  visibility: hidden;
}

body .arrow-up {
  opacity: 0;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  position: fixed;
  bottom: 50px;
  right: 30px;
  cursor: pointer;
  width: 70px;
  height: 70px;
  z-index: 4;
}

body .arrow-up img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

body .arrow-up-show {
  opacity: 1;
}

body .documents {
  padding: 100px 0;
}

body .documents .block-documents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .documents .block-documents .link-documents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

body .documents .block-documents .link-documents a {
  text-decoration: none;
  color: #fbc750;
  font-family: "Verdana", sans-serif;
  font-size: 20px;
  line-height: 180%;
  position: relative;
  margin: 10px 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  -webkit-transform: translateX(200px);
          transform: translateX(200px);
}

body .documents .block-documents .link-documents a:before {
  content: '';
  width: 10px;
  height: 3px;
  background: #fbc750;
  position: absolute;
  top: 50%;
  left: -30px;
}

body .documents .block-documents .link-documents a:nth-child(1) {
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

body .documents .block-documents .link-documents a:nth-child(2) {
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

body .documents .block-documents .link-documents a:nth-child(3) {
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}

body .documents .block-documents .link-documents a:nth-child(4) {
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}

body .documents .block-documents .link-documents a:nth-child(5) {
  -webkit-transition-delay: 0.6s;
          transition-delay: 0.6s;
}

body .documents .block-documents .link-documents a:nth-child(6) {
  -webkit-transition-delay: 0.7s;
          transition-delay: 0.7s;
}

body .documents .block-documents .link-documents a:nth-child(7) {
  -webkit-transition-delay: 0.8s;
          transition-delay: 0.8s;
}

body .documents .block-documents .link-documents-shows a {
  opacity: 1;
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
}

body .requisites {
  background: white;
}

body .requisites .container {
  padding: 100px;
}

body .requisites .container .grid-block {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 40% 60%;
      grid-template-columns: 40% 60%;
  -ms-grid-rows: (60px)[10];
      grid-template-rows: repeat(10, 60px);
  border-bottom: 2px solid #1f2f4f;
  border-left: 2px solid #1f2f4f;
}

body .requisites .container .grid-block .item-grid {
  border-top: 2px solid #1f2f4f;
  border-right: 2px solid #1f2f4f;
  padding: 5px;
  font-family: "Verdana", sans-serif;
  font-size: 20px;
  line-height: 140%;
  position: relative;
  color: #1f2f4f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .requisites .container .grid-block .title {
  font-weight: bold;
}

body .license {
  padding: 50px 0;
}

body .license .license-block {
  margin: 100px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .license .license-block .license-itself {
  cursor: pointer;
  width: 250px;
}

body .license .license-block .license-itself img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

body .contacts {
  background: white;
  padding: 100px 0;
}

body .contacts .contacts-block .contacts-text {
  margin-bottom: 50px;
}

body .contacts .contacts-block .contacts-text div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .contacts .contacts-block .contacts-text div a {
  text-decoration: none;
  color: #1f2f4f;
  margin-left: 30px;
  margin-bottom: 20px;
}

body .contacts .contacts-block .contacts-text p {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  font-family: "Verdana", sans-serif;
  font-size: 20px;
  line-height: 140%;
}

body .contacts .contacts-block .zgolovok-mini {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .contacts .contacts-block .zgolovok-mini p {
  margin: 0;
  padding: 0;
  margin: 50px;
  color: black;
  font-family: 'Europe Ext Bold', arial;
  font-size: 25px;
  font-weight: bold;
  position: relative;
}

body .contacts .contacts-block .zgolovok-mini p:after {
  content: '';
  position: absolute;
  bottom: -10px;
  width: 100%;
  height: 2px;
  background: black;
  left: 0;
}

body .contacts .contacts-block .grid-block {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 10% 30% 60%;
      grid-template-columns: 10% 30% 60%;
  -ms-grid-rows: (60px)[10];
      grid-template-rows: repeat(10, 60px);
  border-bottom: none;
  border-left: 2px solid #1f2f4f;
}

body .contacts .contacts-block .grid-block .item-grid {
  border-top: 2px solid #1f2f4f;
  border-right: 2px solid #1f2f4f;
  padding: 5px;
  font-family: "Verdana", sans-serif;
  font-size: 20px;
  line-height: 140%;
  position: relative;
  color: #1f2f4f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .contacts .contacts-block .grid-block .title {
  font-weight: bold;
}

body .contacts .contacts-block .without {
  border-bottom: 2px solid #1f2f4f;
  -ms-grid-columns: 10% 15%  15% 30% 30%;
      grid-template-columns: 10% 15%  15% 30% 30%;
  -ms-grid-rows: (60px)[5];
      grid-template-rows: repeat(5, 60px);
}

body .contacts .contacts-block .without .union {
  -ms-grid-column: 4;
  -ms-grid-column-span: 2;
  grid-column: 4/6;
}

body .contacts .contacts-block .without .union-2 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2/4;
}

body .contacts .contacts-block .without .union-3 {
  -ms-grid-column: 4;
  -ms-grid-column-span: 2;
  grid-column: 4/6;
}

body .services-own {
  background: white;
  padding: 150px 0;
}

body .services-own .services-block {
  margin: 0 auto;
  width: 600px;
}

body .services-own .services-block .service-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px solid #1f2f4f;
  padding: 10px;
  margin-bottom: 1px;
}

body .services-own .services-block .service-item .service-text {
  font-family: "Verdana", sans-serif;
  font-size: 20px;
  line-height: 140%;
  color: #1f2f4f;
}

body .services-own .services-block .service-item .services-btn {
  text-transform: uppercase;
  color: #1f2f4f;
  font-family: 'Europe Ext Bold', arial;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  padding: 7px;
  border-radius: 10px;
  border: 4px solid #1f2f4f;
}

body .services-own .services-block .service-item .services-btn:hover {
  background: #fbc750;
}

@media screen and (max-width: 1600px) {
  body .present .back-present .text-present {
    font-size: 70px;
    bottom: 20px;
  }
}

@media screen and (max-width: 1200px) {
  body .news .news-slider {
    padding: 0 50px;
  }
  body .news .news-slider .newone {
    margin: 0 10px;
  }
  body .slick-next {
    right: 0;
  }
  body .slick-prev {
    left: 0;
  }
  body .requisites .container {
    padding: 50px 0;
  }
}

@media screen and (max-width: 1000px) {
  body .container {
    width: 960px;
  }
  body .present .back-present .text-present {
    font-size: 55px;
  }
  body .tariffs .tariffs-block {
    padding: 0 80px;
  }
  body .tariffs .tariffs-block .tar-block-max {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  body .tariffs .tariffs-block .tar-block-max .tar-block-mini {
    width: 400px;
    height: 400px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  body .tariffs .tariffs-block .tar-block-max .text .zagolovok-text {
    font-size: 25px;
    margin-bottom: 20px;
  }
  body .tariffs .tariffs-block .tar-block-max .text .under-zagolovok-text {
    margin-bottom: 30px;
  }
  body .tariffs .tariffs-block .tar-block-max .text .tariff-price {
    font-size: 25px;
    margin: 30px auto;
  }
  body .tariffs .tariffs-block .tar-block-max:nth-child(even) {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  body .services {
    height: 350px;
  }
  body .services-2 {
    height: 350px;
  }
  body .services-3 {
    height: 350px;
  }
  body .slick-next {
    display: none !important;
  }
  body .slick-prev {
    display: none !important;
  }
  body .news .news-slider {
    padding: 0;
  }
  body .modal-news .modal {
    top: 7vw;
    width: 80vw;
  }
  body .modal-news .modal .zagolovok-modal {
    font-size: 30px;
    margin: 40px auto;
  }
  body .modal-news .modal .text-modal {
    font-size: 18px;
  }
  body .requisites .container .grid-block .item-grid {
    font-size: 16px;
  }
  body .contacts .contacts-block .grid-block .item-grid {
    font-size: 18px;
  }
}

@media screen and (max-width: 770px) and (orientation: portrait) {
  body .container {
    width: 720px;
  }
  body .contacts-head .container .contacts-left .first-line .contact-link a {
    font-size: 16px;
    margin-right: 10px;
  }
  body .contacts-head .container .contacts-left .first-line .contact-text {
    font-size: 12px;
  }
  body .contacts-head .container .contacts-left .second-line .contact-link a {
    font-size: 16px;
  }
  body .contacts-head .container .contacts-right .first-line .contact-link a {
    font-size: 16px;
  }
  body .contacts-head .container .contacts-right .second-line .contact-link a {
    font-size: 16px;
  }
  body .present .back-present .logo-present {
    height: 115px;
  }
  body .present .back-present .text-present {
    font-size: 40px;
  }
  body .services {
    height: 300px;
  }
  body .services-2 {
    height: 300px;
  }
  body .services-3 {
    height: 300px;
  }
  body .tariffs .tariffs-block {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  body .tariffs .tariffs-block .tar-block-max:nth-child(even) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body .modal-send .modal {
    width: 75vw;
  }
  body .options .options-block {
    padding: 0;
  }
  body .just-img {
    height: 500px;
    background-attachment: scroll;
  }
  body .just-img .logo-present {
    height: 150px;
  }
  body .license .license-block {
    margin: 50px 0px;
  }
  body .license .license-block .license-itself {
    width: 300px;
    margin: 30px  50px;
  }
  body .requisites .container .grid-block .item-grid {
    font-size: 14px;
  }
  body .contacts .contacts-block {
    padding: 0 10px;
  }
  body .contacts .contacts-block .contacts-text p {
    font-size: 18px;
  }
  body .contacts .contacts-block .grid-block .item-grid {
    font-size: 14px;
  }
  body .footer .center-contacts .first-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  body .footer .center-contacts .first-row .contact-link {
    margin-bottom: 25px;
  }
  body .footer .center-contacts .third-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  body .footer .center-contacts .third-row .contact-link {
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 450px) and (orientation: portrait) {
  body .container {
    width: 100%;
  }
  body .menu {
    background-image: none;
    height: auto;
  }
  body .menu .menu-block .menu-line {
    display: none;
  }
  body .menu .menu-block .menu-mobil {
    display: block;
  }
  body .menu .menu-block .menu-mobil .burger-menu {
    width: 40px;
    height: 40px;
    position: relative;
    cursor: pointer;
    margin-left: 40px;
  }
  body .menu .menu-block .menu-mobil .burger-menu p {
    height: 6px;
    width: 100%;
    border-radius: 15px;
    background: #fbc750;
    padding: 0;
    margin: 0;
    margin-bottom: 0px;
    margin-bottom: 10px;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
  }
  body .menu .menu-block .menu-mobil .burger-menu p:nth-child(3) {
    margin-bottom: 0;
  }
  body .menu .menu-block .menu-mobil .open-menu {
    opacity: 0;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 20px;
    background: rgba(251, 199, 80, 0.8);
    border-radius: 4px;
    position: absolute;
    left: 50px;
    top: 55px;
    height: 0px;
    overflow: hidden;
    z-index: -1;
  }
  body .menu .menu-block .menu-mobil .open-menu .menu-link {
    display: block;
    color: #1f2f4f;
    text-decoration: none;
    font-family: "Verdana", sans-serif;
    font-size: 20px;
    position: relative;
    margin-bottom: 20px;
  }
  body .menu .menu-block .button-conect-menu {
    display: block;
    border: 4px solid #fbc750;
    color: #fbc750;
    margin-right: 40px;
  }
  body .menu .menu-block .button-conect-menu:hover {
    color: #1f2f4f;
  }
  body .menu .menu-block .open .burger-menu p:nth-child(1) {
    -webkit-transform: rotate(45deg) translate(15px, 11px);
            transform: rotate(45deg) translate(15px, 11px);
  }
  body .menu .menu-block .open .burger-menu p:nth-child(2) {
    opacity: 0;
  }
  body .menu .menu-block .open .burger-menu p:nth-child(3) {
    -webkit-transform: rotate(-45deg) translate(12px, -8px);
            transform: rotate(-45deg) translate(12px, -8px);
  }
  body .menu .menu-block .open .open-menu {
    opacity: 1;
    height: 200px;
    z-index: 4;
  }
  body .contacts-head .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body .contacts-head .container .contacts-left {
    margin-bottom: 15px;
    margin-top: 15px;
  }
  body .contacts-head .container .button-conect {
    display: none;
  }
  body .modal-send .modal {
    width: 90vw;
  }
  body .modal-send .modal form .zagolovok-modal {
    font-size: 20px;
  }
  body .modal-send .modal form input {
    font-size: 16px;
  }
  body .modal-send .modal form .accept-block input[type="checkbox"] + label {
    font-size: 12px;
  }
  body .present .back-present .logo-present {
    height: 65px;
  }
  body .present .back-present .text-present {
    font-size: 20px;
  }
  body .services {
    height: 150px;
  }
  body .services-2 {
    height: 150px;
  }
  body .services-3 {
    height: 150px;
  }
  body .tariffs .logo-tarriff {
    height: 65px;
  }
  body .tariffs .zagolovok {
    font-size: 35px;
  }
  body .tariffs .tariffs-block .tar-block-mini {
    opacity: 1;
    -webkit-transform: translateX(0) !important;
            transform: translateX(0) !important;
  }
  body .tariffs .tarrif-dop-text {
    font-size: 16px;
    line-height: 30px;
  }
  body .payment .zagolovok {
    font-size: 35px;
  }
  body .payment .pay-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-pack: flex-center;
        -ms-flex-pack: flex-center;
            justify-content: flex-center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body .payment .pay-row .pay-block {
    opacity: 1;
  }
  body .news .logo-tarriff {
    height: 65px;
  }
  body .news .zagolovok {
    font-size: 35px;
  }
  body .options {
    padding: 50px 0;
  }
  body .options .options-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
  }
  body .options .options-block .options-inside:nth-child(1) {
    margin-bottom: 80px;
  }
  body .options .options-block .options-inside .text-options {
    font-size: 25px;
  }
  body .just-img {
    height: 300px;
  }
  body .just-img .logo-present {
    height: 65px;
  }
  body .documents .block-documents .link-documents a {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  body .contacts .contacts-block .contacts-text p {
    font-size: 14px;
  }
  body .contacts .contacts-block .grid-obertka {
    width: 100%;
    overflow: auto;
  }
  body .contacts .contacts-block .grid-obertka .grid-block {
    min-width: 650px;
  }
  body .services-own .services-block {
    margin: 0 10px;
    margin: 0;
    width: 95%;
    padding: 0 10px;
  }
  body .footer .center-contacts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }
  body .footer .center-contacts .first-row {
    margin-bottom: 20px;
  }
  body .footer .center-contacts .first-row .contact-link {
    margin-bottom: 15px;
  }
  body .footer .center-contacts .second-row {
    display: none;
  }
  body .footer .certifikat {
    text-align: center;
    display: block;
    margin-top: 20px;
  }
  body .footer .certifikat p {
    margin: 0;
  }
}

@media screen and (max-width: 800px) and (orientation: landscape) {
  body .container {
    width: 100%;
  }
  body .contacts-head .container {
    padding: 0px 2vw;
    width: 96vw;
  }
  body .contacts-head .container .contacts-left .first-line .contact-link a {
    font-size: 16px;
  }
  body .contacts-head .container .contacts-left .first-line .contact-text {
    font-size: 12px;
  }
  body .contacts-head .container .contacts-left .second-line .contact-link a {
    font-size: 16px;
  }
  body .contacts-head .container .contacts-right .first-line .contact-link a {
    font-size: 16px;
  }
  body .contacts-head .container .contacts-right .second-line .contact-link a {
    font-size: 16px;
  }
  body .present .back-present .logo-present {
    height: 115px;
  }
  body .present .back-present .text-present {
    font-size: 40px;
  }
  body .services {
    height: 250px;
  }
  body .services-2 {
    height: 250px;
  }
  body .services-3 {
    height: 250px;
  }
  body .tariffs .tariffs-block {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  body .tariffs .tariffs-block .tar-block-max:nth-child(even) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body .payment .pay-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-pack: flex-center;
        -ms-flex-pack: flex-center;
            justify-content: flex-center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body .payment .pay-row .pay-block {
    opacity: 1;
  }
  body .modal-send .modal {
    top: 4vh;
    width: 90vw;
  }
  body .modal-send .modal form {
    margin-bottom: 0;
  }
  body .modal-send .modal form .zagolovok-modal {
    font-size: 20px;
    margin: 0 auto;
    margin-top: 40px;
  }
  body .modal-send .modal form input {
    margin: 15px 0;
  }
  body .modal-news .modal {
    top: 3vw;
    width: 85vw;
  }
  body .options .options-block {
    padding: 0;
  }
  body .just-img {
    height: 400px;
    background-attachment: scroll;
  }
  body .just-img .logo-present {
    height: 115px;
  }
  body .license .license-block {
    margin: 50px 0px;
  }
  body .license .license-block .license-itself {
    width: 300px;
    margin: 30px  70px;
  }
  body .requisites .container .grid-block .item-grid {
    font-size: 14px;
  }
  body .documents .block-documents .link-documents a {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  body .contacts .contacts-block {
    padding: 0 10px;
  }
  body .contacts .contacts-block .grid-block .item-grid {
    font-size: 14px;
  }
  body .footer .center-contacts .first-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  body .footer .center-contacts .first-row .contact-link {
    margin-bottom: 25px;
  }
  body .footer .center-contacts .third-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  body .footer .center-contacts .third-row .contact-link {
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 380px) and (orientation: portrait) {
  body .present .back-present .logo-present {
    height: 60px;
  }
  body .present .back-present .text-present {
    font-size: 18px;
  }
  body .services {
    height: 120px;
  }
  body .services-2 {
    height: 120px;
  }
  body .services-3 {
    height: 120px;
  }
  body .modal-send .modal form .zagolovok-modal {
    font-size: 16px;
  }
  body .modal-send .modal form input {
    width: 250px;
  }
  body .options .options-block .options-inside .img-block {
    height: 120px;
  }
  body .options .options-block .options-inside .text-options {
    font-size: 20px;
  }
  body .just-img {
    height: 200px;
  }
  body .requisites .container .grid-block {
    -ms-grid-rows: (80px)[10];
        grid-template-rows: repeat(10, 80px);
  }
  body .requisites .container .grid-block .item-grid {
    font-size: 12px;
  }
}

@media screen and (max-width: 700px) and (orientation: landscape) {
  body .contacts-head .container .contacts-left .first-line .contact-link a {
    font-size: 14px;
  }
  body .contacts-head .container .contacts-left .first-line .contact-text {
    font-size: 10px;
  }
  body .contacts-head .container .contacts-left .second-line .contact-link a {
    font-size: 14px;
  }
  body .contacts-head .container .contacts-right .first-line .contact-link a {
    font-size: 14px;
  }
  body .contacts-head .container .contacts-right .second-line .contact-link a {
    font-size: 14px;
  }
  body .present .back-present .logo-present {
    height: 105px;
  }
  body .present .back-present .text-present {
    font-size: 30px;
  }
  body .services {
    height: 200px;
  }
  body .services-2 {
    height: 200px;
  }
  body .services-3 {
    height: 200px;
  }
  body .modal-send .modal {
    height: 90vh;
  }
  body .modal-send .modal form {
    height: 100%;
    overflow: auto;
  }
  body .options .options-block .options-inside .img-block {
    height: 120px;
  }
  body .options .options-block .options-inside .text-options {
    font-size: 20px;
  }
  body .just-img {
    height: 300px;
  }
}

@media screen and (max-width: 330px) and (orientation: portrait) {
  body .present .back-present .logo-present {
    height: 50px;
  }
  body .present .back-present .text-present {
    font-size: 14px;
  }
  body .news .zagolovok {
    padding: 35px 0;
  }
  body .modal-send .modal {
    top: 2vh;
  }
  body .modal-send .modal form .zagolovok-modal {
    font-size: 14px;
  }
  body .modal-send .modal form input {
    width: 200px;
  }
  body .options .options-block .options-inside .img-block {
    height: 100px;
  }
  body .options .options-block .options-inside .text-options {
    font-size: 18px;
  }
  body .requisites .container .grid-block {
    -ms-grid-rows: (100px)[10];
        grid-template-rows: repeat(10, 100px);
  }
  body .documents .block-documents .link-documents a {
    font-size: 14px;
  }
  body .services-own .services-block .service-item .service-text {
    font-size: 16px;
  }
}

@media screen and (max-width: 600px) and (orientation: landscape) {
  body .contacts-head {
    position: relative;
    height: 115px;
  }
  body .contacts-head .container {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  body .contacts-head .container .contacts-left .first-line img {
    width: 16px;
    height: 16px;
    margin-right: 10px;
  }
  body .contacts-head .container .contacts-left .second-line img {
    width: 16px;
    height: 16px;
    margin-right: 10px;
  }
  body .contacts-head .container .button-conect {
    position: absolute;
    bottom: 10px;
  }
  body .present .back-present .logo-present {
    height: 95px;
  }
}
/*# sourceMappingURL=style.css.map */