
// @font-face
//     // font-family: "Europe"
//     // src : url("../fonts/Europe/europe_ext.ttf") format('truetype')
//     // src : url("../fonts/Europe/europe_ext.eot") format('embedded-opentype')
//     // src : url("../fonts/Europe/europe_ext.woff") format('woff')
        font-family: "Europe Ext Bold"
        src: url("../fonts/EuropeExt-Bold") format('truetype')

.container
    width: 1140px  
    margin: 0 auto
    height: 100%

$basic-color: #1f2f4f 
$yellow: #fbc750
$width: 1140px

body
    background-color: $basic-color
    padding: 0
    margin: 0

    .menu
        background-image: url(../img/divider.png)
        background-size: cover
        background-repeat: no-repeat
        margin-top: 30px
        height: 30px
        transition: all 0.4s ease 
        position: relative 

        .menu-block
            display: flex
            flex-flow: row nowrap
            justify-content: space-between
            align-items: center 
            height: 100%
            transition: all 0.4s ease
            

            .menu-line
                display: flex
                flex-flow: row nowrap
                justify-content: space-around
                align-items: center
                height: 100%
                width: 100%

                .menu-link

                    a
                        text-transform: uppercase
                        color: $basic-color
                        font-family: 'Europe Ext Bold', arial
                        font-size: 16px
                        font-weight: bold
                        text-decoration: none
                        position: relative

                        &:before
                            content: ''
                            width: 0%
                            height: 2px
                            background: $basic-color
                            transition: all 0.4s ease
                            position: absolute
                            bottom: -5px
                            left: 0

                        &:hover

                            &:before
                                width: 100%

            .button-conect-menu
                text-transform: uppercase
                color: $basic-color
                font-family: 'Europe Ext Bold', arial
                font-size: 16px
                font-weight: bold
                cursor: pointer
                transition: all 0.4s ease
                padding: 7px
                border-radius: 10px
                border: 4px solid $basic-color
                display: none

                &:hover
                    background: white

    .menu-fixed
        position: fixed
        top: -30px
        left: 0
        height: 50px
        width: 100%
        z-index: 2

        .menu-block

            .button-conect-menu
                display: block




    .contacts-head
        padding: 20px 0

        .container
            display: flex
            flex-flow: row nowrap
            justify-content: space-between
            align-items: center

            .contacts-left
                display: flex
                flex-flow: column nowrap
                justify-content: center
                align-items: flex-start

                .first-line
                    display: flex
                    flex-flow: row nowrap
                    justify-content: flex-start
                    align-items: center
                    margin-bottom: 15px

                    img
                        width: 24px
                        height: 24px
                        margin-right: 20px

                    .contact-link

                        a
                            color: white
                            font-family: 'Europe Ext Bold', arial
                            font-size: 18px
                            font-weight: bold
                            margin-right: 20px
                            text-decoration: none
                            cursor: pointer

                    .contact-text
                        font-size: 14px
                        color: $yellow
                        font-family: "Verdana", sans-serif
                        padding: 0
                        margin: 0
                        padding-bottom: 2px
                        cursor: default

                .second-line
                    display: flex
                    flex-flow: row nowrap
                    justify-content: flex-start
                    align-items: center

                    img
                        width: 24px
                        height: 24px
                        margin-right: 20px

                    .contact-link

                        a
                            color: white
                            font-family: 'Europe Ext Bold', arial
                            font-size: 18px
                            font-weight: bold
                            margin-right: 20px
                            text-decoration: none
                            cursor: pointer

            .contacts-right
                display: flex
                flex-flow: column nowrap
                justify-content: center
                align-items: flex-start

                .first-line
                    display: flex
                    flex-flow: row nowrap
                    justify-content: flex-start
                    align-items: center
                    margin-bottom: 15px

                    .contact-link
                        display: flex
                        flex-flow: row nowrap
                        justify-content: flex-start
                        align-items: center

                        a
                            color: white
                            font-family: 'Europe Ext Bold', arial
                            font-size: 18px
                            font-weight: bold
                            margin-right: 10px
                            text-decoration: none
                            cursor: pointer

                        p
                            color: white
                            font-size: 16px
                            padding: 0
                            margin: 0
                            font-weight: bold
                            margin-right: 10px
                            cursor: default
                          

                .second-line
                    display: flex
                    flex-flow: row nowrap
                    justify-content: flex-start
                    align-items: center

                    .contact-link

                        a
                            color: white
                            font-family: 'Europe Ext Bold', arial
                            font-size: 18px
                            font-weight: bold
                            margin-right: 20px
                            text-decoration: none
                            cursor: pointer

            .button-conect
                background: transparent
                color: $yellow
                border: 4px solid $yellow
                border-radius: 10px
                padding: 13px 12px
                font-family: 'Europe Ext Bold', arial
                font-size: 18px
                font-weight: bold
                cursor: pointer
                transition: all 0.4s ease

                &:hover
                    background: $yellow
                    color: $basic-color

    .present

        .back-present
            position: relative

            img
                width: 100%
                height: 100%

            .logo-present
                position: absolute
                top: 0
                left: 0
                width: auto
                height: 190px

            .text-present
                position: absolute
                left: 20px
                bottom: 40px
                font-family: 'Europe Ext Bold', arial
                font-size: 85px
                font-weight: bold
                color: white

    .services
        height: 450px
        width: 100%
        position: relative
        background: white
        overflow: hidden

        img
            position: absolute
            width: 100%
            height: 100%
            top: 0
            left: 0
            transition: all 0.4s ease

    .tariffs
        position: relative
        overflow: hidden
        margin-bottom: 100px

        .logo-tarriff
            position: absolute
            top: 20px
            left: 00px

        .zagolovok
            text-align: center
            font-family: 'Europe Ext Bold', arial
            font-size: 50px
            font-weight: bold
            color: white  
            text-transform: uppercase
            padding: 70px 0

        .tariffs-block
            display: flex
            flex-flow: row wrap
            justify-content: flex-start
            align-items: center

            .tar-block-mini
                width: $width/3
                height: $width/3
                transition: all 0.4s ease
                opacity: 0

                &:nth-child(1)
                    transform: translateX(-$width/3)

                &:nth-child(3)
                    transform: translateX($width/3)

                &:nth-child(4)
                    transform: translateX($width/3)

                &:nth-child(6)
                    transform: translateX(-$width/3)

            .image

                img
                    width: 100%
                    height: 100%
                    object-fit: cover

            .text
                display: flex
                flex-flow: column nowrap
                justify-content: center
                align-items: center
                background: white

                .zagolovok-text
                    text-align: center
                    font-family: 'Europe Ext Bold', arial
                    font-size: 30px
                    font-weight: bold
                    color: $basic-color 
                    text-transform: uppercase

                ul
                    padding-left: 30px
                    position: relative

                    li
                        padding: 7px 0
                        font-family: 'Verdana', sans-serif
                        font-size: 16px
                        color: #333
                        padding-left: 7px

                    
                    &:after
                        content: ''
                        width: 100%
                        height: 3px
                        background: $basic-color
                        position: absolute
                        bottom: -20px
                        left: 0
                
                .tariff-price
                    text-align: center
                    font-family: 'Europe Ext Bold', arial
                    font-size: 30px
                    font-weight: bold
                    color: $basic-color 
                    text-transform: uppercase
                    margin-top: 15px

                

        .first-line-show

            .tar-block-mini

                &:nth-child(1)
                    opacity: 1
                    transform: translateX(0)
                
                &:nth-child(2)
                    opacity: 1

                &:nth-child(3)
                    opacity: 1
                    transform: translateX(0)

        .second-line-show

            .tar-block-mini

                &:nth-child(4)
                    opacity: 1
                    transform: translateX(0)
                
                &:nth-child(5)
                    opacity: 1

                &:nth-child(6)
                    opacity: 1
                    transform: translateX(0)

    .services-2
        height: 450px
        width: 100%
        position: relative
        background: white
        overflow: hidden

        img
            position: absolute
            width: 100%
            height: 100%
            top: 0
            left: 0
            transition: all 0.4s ease

    .payment

        .zagolovok
            text-align: center
            font-family: 'Europe Ext Bold', arial
            font-size: 50px
            font-weight: bold
            color: white  
            text-transform: uppercase
            padding: 70px 0

        .pay-row
            display: flex
            flex-flow: row nowrap
            justify-content: space-around
            align-items: center

            .pay-block
                display: flex
                flex-flow: column nowrap
                justify-content: center
                align-items: center
                cursor: pointer
                opacity: 0
                margin-bottom: 100px

                .pay-img
                    width: 100px
                    height: 100px

                    img
                        width: 100%
                        height: 100%
                        object-fit: contain

                p
                    text-align: center
                    font-family: 'Europe Ext Bold', arial
                    font-size: 25px
                    font-weight: bold
                    color: white  
                    text-transform: uppercase
                    margin: 0
                    padding: 0 
                    margin-top: 30px 

                &:nth-child(1)
                    transition: all 0.4s ease

                &:nth-child(2)
                    transition: all 0.4s ease 0.2s

                &:nth-child(3)
                    transition: all 0.4s ease 0.4s

            .pay-block-show
                opacity: 1

    .services-3
        height: 450px
        width: 100%
        position: relative
        background: white
        overflow: hidden

        img
            position: absolute
            width: 100%
            height: 100%
            top: 0
            left: 0
            transition: all 0.4s ease

    .news
        position: relative
        overflow: hidden
        margin-bottom: 70px

        .logo-tarriff
            position: absolute
            top: 20px
            left: 00px

        .zagolovok
            text-align: center
            font-family: 'Europe Ext Bold', arial
            font-size: 50px
            font-weight: bold
            color: white  
            text-transform: uppercase
            padding: 70px 0

        .news-slider
            margin-top: 70px

            .newone
                height: 700px
                background: white
                border-radius: 4px
                margin: 0 20px

                img
                    width: 100%
                    border-radius: 4px 4px 0 0 

                .zagolovok-new
                    margin-top: 40px
                    text-align: center
                    font-family: 'Verdana', sans-serif
                    font-size: 30px
                    color: #333
                    font-weight: bold

                .zagolovok-text
                    margin-top: 30px
                    font-family: 'Verdana', sans-serif
                    font-size: 20px
                    color: #333
                    padding: 20px

                .button-new
                    margin: 30px auto
                    text-transform: uppercase
                    color: $basic-color
                    font-family: 'Europe Ext Bold', arial
                    font-size: 16px
                    font-weight: bold
                    cursor: pointer
                    transition: all 0.4s ease
                    padding: 10px
                    border-radius: 10px
                    border: 4px solid $basic-color
                    width: 110px

                    &:hover
                       color: $yellow
                       border: 4px solid $yellow

    .footer
        background: white
        display: flex
        flex-flow: row nowrap
        justify-content: flex-end
        align-items: center

        .left-contacts

        .right-contacts
            background-image: url(../img/divider.png)
            background-size: contain
            background-repeat: repeat
            padding: 15px 30px

            .first-row
                display: flex
                flex-flow: row nowrap
                justify-content: space-around
                align-items: center
                margin-bottom: 30px

                .contact-link

                    a
                        color: $basic-color
                        font-family: 'Europe Ext Bold', arial
                        font-size: 18px
                        font-weight: bold
                        margin-right: 20px
                        text-decoration: none
                        cursor: pointer

                .contact-text
                    font-size: 14px
                    color: $basic-color
                    font-family: "Verdana", sans-serif
                    padding: 0
                    margin: 0
                    padding-bottom: 2px
                    cursor: default

            .second-row
                display: flex
                flex-flow: row nowrap
                justify-content: flex-start
                align-items: center

                .contact-link
                    display: flex
                    flex-flow: column nowrap
                    justify-content: flex-start
                    align-items: flex-start

                    a 
                        color: $basic-color
                        font-family: 'Europe Ext Bold', arial
                        font-size: 18px
                        font-weight: bold
                        margin-right: 20px
                        text-decoration: none
                        cursor: pointer

                .button-conect
                    text-transform: uppercase
                    color: $basic-color
                    font-family: 'Europe Ext Bold', arial
                    font-size: 16px
                    font-weight: bold
                    cursor: pointer
                    transition: all 0.4s ease
                    padding: 7px
                    border-radius: 10px
                    border: 4px solid $basic-color

                    &:hover
                        background: white


    .modal-news
        position: fixed
        top: 0
        left: 0
        width: 100vw
        height: 100vh
        background: rgba(0,0,0,0.5)
        z-index: 3
        opacity: 1
        visibility: visible
        transition: all 0.4s ease


        .modal
            position: absolute
            top: 10vh
            left: 50%
            transform: translate(-50%)
            width: 55vw
            height: 80vh
            background: white
            border-radius: 10px
            overflow: auto
            padding: 20px

            .close-btn
                position: absolute
                top: 10px
                right: 10px
                padding: 5px
                cursor: pointer

                .first-stroke
                    width: 20px
                    height: 5px
                    border-radius: 10px
                    background: $basic-color
                    position: absolute
                    transform: rotate(45deg)
                    right: 10px

                .second-stroke
                    width: 20px
                    height: 5px
                    border-radius: 10px
                    background: $basic-color
                    position: absolute
                    transform: rotate(-45deg)
                    right: 10px


            .zagolovok-modal
                text-transform: uppercase
                color: $basic-color
                font-family: 'Europe Ext Bold', arial
                font-size: 40px
                font-weight: bold
                margin: 50px auto
                text-align: center

            .img-modal
                width: 80%
                margin-left: 10%
                height: 300px
                border-radius: 4px
                overflow: hidden
                margin-bottom: 20px

                img
                    width: 100%
                    height: 100%
                    object-fit: cover

            .text-modal
                font-family: 'Verdana', sans-serif
                font-size: 20px
                color: #333
                padding: 40px
                line-height: 30px


    .modal-news-hide
        z-index: -1
        opacity: 0
        visibility: hidden
    
    .modal-send
        position: fixed
        top: 0
        left: 0
        width: 100vw
        height: 100vh
        background: rgba(0,0,0,0.5)
        z-index: 3
        opacity: 1
        visibility: visible
        transition: all 0.4s ease


        .modal
            position: absolute
            top: 10vh
            left: 50%
            transform: translate(-50%)
            width: auto
            height: auto
            background: white
            border-radius: 10px
            overflow: hidden


            form
                display: flex
                flex-flow: column nowrap
                justify-content: flex-start
                align-items: center
                position: relative
                transition: all 0.4s ease
                height: auto
                position: relative
                overflow: hidden
                margin: 40px
                margin-top: 0

                .form-item
                    margin: 20px 0

                input
                    font-size: 20px
                    line-height: 21px
                    font-family: "Verdana", sans-serif
                    text-align: left
                    color: $basic-color
                    padding: 5px
                    width: 300px
                    border-radius: 0px
                    border: none
                    border-bottom: 2px solid #ACA6A6
                    padding-bottom: 15px

                .button-send-modal
                    margin: 20px auto
                    text-transform: uppercase
                    color: $basic-color
                    font-family: 'Europe Ext Bold', arial
                    font-size: 16px
                    font-weight: bold
                    cursor: pointer
                    transition: all 0.4s ease
                    padding: 10px
                    border-radius: 10px
                    border: 4px solid $basic-color
                    width: 100px

                    &:hover
                       color: $yellow
                       border: 4px solid $yellow

                .accept-block
                    margin-top: 10px

                    input[type=checkbox] 
                        display: none
                        width: 10px

                        &:checked + label

                            &:before
                                border-right: none
                                border-top: none
                                transform: rotate(-50deg)
                                top: 2px
                                left: 2px
                                height: 5px

                    input[type=checkbox] + label
                        font-family: "Verdana", sans-serif
                        font-size: 14px
                        line-height: 140%
                        color: $basic-color
                        padding-left: 30px
                        position: relative

                        &:before
                            content: ''
                            position: absolute
                            top: 0
                            left: 0
                            width: 10px;
                            height: 10px;
                            border: 2px solid #ACA6A6
                            transition: all 0.4s ease
                            cursor: pointer

                .description-accept
                    font-family: "Verdana", sans-serif
                    font-size: 15px
                    line-height: 180%
                    margin: 15px 0
                    text-align: left
                    transition: all 0.4s ease
                    opacity: 1
                    visibility: visible
                    width: 100%
                    color: #ACA6A6
                    text-align: center

                .hide 
                    opacity: 0
                    visibility: hidden

                .close-btn-send
                    position: absolute
                    top: 0px
                    right: -10px
                    padding: 5px
                    cursor: pointer

                    .first-stroke
                        width: 20px
                        height: 5px
                        border-radius: 10px
                        background: $basic-color
                        position: absolute
                        transform: rotate(45deg)
                        right: 10px

                    .second-stroke
                        width: 20px
                        height: 5px
                        border-radius: 10px
                        background: $basic-color
                        position: absolute
                        transform: rotate(-45deg)
                        right: 10px


                .zagolovok-modal
                    text-transform: uppercase
                    color: $basic-color
                    font-family: 'Europe Ext Bold', arial
                    font-size: 25px
                    line-height: 35px
                    font-weight: bold
                    margin: 30px auto
                    text-align: center
                    margin-top: 60px

            .description
                    font-family: "Verdana", sans-serif
                    font-size: 25px
                    text-align: left
                    line-height: 180%
                    color: #ACA6A6
                    transition: all 0.4s ease
                    margin: 50px auto
                    text-align: center

            .hide 
                    opacity: 0
                    visibility: hidden
                    margin: 0
                    height: 0 !important
                    padding: 0

    .modal-send-hide
        z-index: -1
        opacity: 0
        visibility: hidden

    .arrow-up
        opacity: 0
        transition: all 0.4s ease
        position: fixed
        bottom: 50px
        right: 30px
        cursor: pointer
        width: 70px
        height: 70px
        z-index: 4

        img
            width: 100%
            height: 100%
            object-fit: contain

    .arrow-up-show
        opacity: 1


    


@media screen and (max-width: 1600px)
    body 

        .present

            .back-present

                .text-present
                    font-size: 70px
                    bottom: 20px

@media screen and (max-width: 1200px)
    body 

        .news 
            
            .news-slider
                padding: 0 50px 
                
                .newone
                    margin: 0 10px

        .slick-next
            right: 0

        .slick-prev
            left: 0


@media screen and (max-width: 1000px) 
    body

        .container
            width: 960px

        .present 
            
            .back-present 
                
                .text-present
                    font-size: 55px

        .tariffs 
            
            .tariffs-block 
                
                .tar-block-mini
                    width: 320px
                    height: 320px

                .text 
                    
                    .zagolovok-text
                        font-size: 25px

                    ul 

                        li
                            font-size: 14px

                    .tariff-price
                        font-size: 25px

        .services
            height: 350px

        .services-2
            height: 350px

        .services-3
            height: 350px

        .slick-next
            display: none !important

        .slick-prev
            display: none !important

        .news 
            
            .news-slider
                padding: 0

        .modal-news 
            
            .modal 
                top: 7vw
                width: 80vw
                
                .zagolovok-modal
                    font-size: 30px
                    margin: 40px auto

                .text-modal
                    font-size: 18px

        .footer 
            
            .right-contacts
                padding: 10px 30px


                .first-row
                    margin-bottom: 20px


    
@media screen and (max-width: 770px)  and (orientation: portrait)
    body

        .container
            width: 720px


        
                    


